.text-align-center {
  text-align: center;
}

.highlight-white {
  box-shadow: inset 0 0 3px 3px yellow;
}

.highlight-black {
  box-shadow: inset 0 0 3px 3px blue;
}

.highlight-hint {
  box-shadow: inset 0 0 3px 3px red;
}

.no-underline {
  text-decoration: none;
}

.no-outline:focus {
  outline: none;
  box-shadow: none;
}

.btn-header {
  font-size: 20px;
  font-weight: bold;
}

.fenpgn {
  min-height: 4em;
  white-space: pre-wrap;
  overflow-x: hidden;
  background: #e3e3e3;
  color: #1f1f1f;
  width: 100%;
  overflow: auto;
  resize: vertical;
  padding: 0.8em 1em;
  border: 1px solid #d9d9d9;
}

.pair {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.name {
  flex: 0 0 5ch;
  font-weight: bold;
  color: #787878;
}

.highlight-white {
  box-shadow: inset 0 0 3px 3px yellow;
}
.highlight-black {
  box-shadow: inset 0 0 3px 3px blue;
}
